.cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation-name: moveAcross;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: transparent; /* Ensure that parent has no background */
  }
  
  .circle {
    width: 100%; /* Relative to parent's height */
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
  }
  
  .rectangle {
    width: 100%;
    height: 100%;
    background-color: inherit;
    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
  }
  
  @keyframes moveAcross {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(var(--track-length) + 100vw));
    }
  }
  