.content-area {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    width: 80%; /* 80% of the viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0 auto; /* Center the div */
    padding: 20px; /* Optional: for some internal spacing */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    align-self: center;
    overflow: scroll;
  }

  * {
    font-family: 'Averta', sans-serif;
    text-align: center;
    font-size: 40px;
  }

  p {
    margin-bottom: 10px;
  }

  .text-logo {
    width: 100%;
    height: auto;
  }
  
  .logo-space {
    max-width: 30%; /* Take up full width of the parent */
    max-height: 10%;
    display: flex;
    justify-content: center; /* Center logo horizontally */
    align-items: center; /* Center logo vertically */
    margin-bottom: 5%;
    margin-top: 3vh;
  }
  
  .text-content {
    /* Styles for your text content */
  }
  
  .embed-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }

  /* on mobile, embed to 100% width */
  @media only screen and (max-width: 600px) {
    .embed-container {
      width: 100%;
    }

    * {
      font-size: 16px;
    }
  }